@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&family=Spartan:wght@200&display=swap');
:root{
  --navColor: #f8f9fa;
  --coral: #da6357;
  --green: #99BF9D;
}

body{
  font-family: "Shippori Mincho B1";
  background-color: var(--navColor) !important;
}
h1 {
  font-family: "Spartan";
  color:black;
  margin-left: 8%;

}
html {
  scroll-behavior: smooth;
}
p{
  font-size:1.75rem;
  font-family: "Shippori Mincho B1";
}
h3{
  font-size: 2rem !important;
  margin-top: 3rem !important;
}
/********************** NAVBAR **************************/
.logo{
  width:9rem;
}
/********************** NAVLINKS **************************/
nav a.nav-link {
    font-weight: 300;
    letter-spacing: 0.0375rem;
    cursor: pointer;
}
nav ul li {
  text-transform:lowercase;
  font-size: 2em;
}
.navbar-nav > li > a {
  margin-right:2em;
  padding-top:.25em;
}
.navbar-nav > li > a:hover {
  border-top: .1em solid #DA6357;
}
.navbar-nav > li > a:active{
  border-top: .1em solid #DA6357;
}
/********************** HEADER **************************/
.header-wrapper {
  margin-top: 5rem;
  font-size: 300%;
  font-family: "Shippori Mincho B1"
}
.portrait img{
  width: 100%;
}

.main-info {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--coral);
  margin-top: 3rem;
}
.main-info h1{
  margin:0;
}
.btn-main-offer {
  font-size: 2rem;
  font-family: "Shippori Mincho B1";
  color: var(--coral);
  border: .25rem solid var(--coral);
  border-radius: .5rem;
  padding: .5rem 1rem 1rem 1rem;
  margin-top: .575em;
  text-transform: lowercase;
}
.btn-main-offer:hover {
  color:var(--navColor);
  background-color: var(--coral);
  text-decoration:none;
}

/********************** ABOUT **************************/
.about-section h1 {
  margin-top:10rem;
  font-size: 3.5rem !important;
  text-transform: lowercase;
  text-align: left;
}
.about-section {
  align-items: center;
  text-align:justify;
  margin-top:20rem !important;
  font-size: 2rem;
  margin:0;
}
.aboutMe{
  padding:0 !important;
  margin:0;
  width:100%;
}
.about-section a{
  text-decoration: none;
  color:black;
}
.about-section a:hover{
  color: var(--coral);
  text-decoration: none;
}
.about-section img{
  margin-top: 5rem !important;
  margin:auto;
  display:block;
}
/********************** EDUCATION **************************/
.education-section h1 {
  margin-top:20rem;
  font-size: 3.5rem !important;
  text-transform: lowercase;
}
.education-section {
  text-align: left;
  padding: 0 5rem;
}
.education-section h3{
  color:var(--coral);
  font-family: "Shippori Mincho B1";
}
.education-section p{
  text-align: left;
  padding-left: 0 !important;
}

/********************** EDUCATION **************************/
.experience-section{
  margin-top: 20rem;
  margin: 5rem;

}
.experience-section h1{
  margin-top:20rem;
  font-size: 3.5rem !important;
  text-transform: lowercase;
}
.experience-section h3{
  font-family: "Shippori Mincho B1";
  color: var(--green);
}

/********************** PROJECTS **************************/
.projects-section h1{
    margin-top:20rem;
    font-size: 3.5rem !important;
    text-transform: lowercase;
  }
  .projects-section h3{
    font-family: "Shippori Mincho B1";
    color: var(--coral);
  }
  .projects-section a{
    text-decoration: none;
    color:grey;
  }
  .projects-section a:hover{
    color: var(--coral);
    text-decoration: none;
  }
/********************** CERTIFICATIONS **************************/
.certification-section h1 {
  margin-top:20rem;
  font-size: 3.5rem !important;
  text-transform: lowercase;
}

.certification-section h3{
  font-family: "Shippori Mincho B1";
  color:var(--coral);
}

/********************** RESUME/CV **************************/
.resume-section h1 {
  margin-top:20rem;
  font-size: 3.5rem !important;
  text-transform: lowercase;
}
.resume-section h3{
  color: var(--green);
  font-family: "Shippori Mincho B1";
}
.resume-section a{
  text-decoration: none;
  color:black;
}
.resume-section a:hover{
  color: var(--coral);
  text-decoration: none;
}

/********************** FOOTER **************************/
.footer-section{
  margin-top: 10rem;
  background-color:lightgrey;
  color:white;
}
.footer-section h3{
  color: white;
  font-family: "Shippori Mincho B1";
}
.footer-section a{
  text-decoration: none;
  color:white;
  font-size: 1.25rem;
}
.footer-section a:hover{
  color:var(--coral);
  text-decoration: none;
}
.footer-section .btn-main-offer:hover{
  color:white;
}