@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&family=Spartan:wght@200&display=swap');
:root{
  --navColor: #f8f9fa;
  --coral: #da6357;
}

body{
  font-family: "Shippori Mincho B1"
}
/********************** NAVBAR **************************/
.logo{
  width:9rem;
}
/********************** NAVLINKS **************************/
nav a.nav-link {
    font-weight: 300;
    letter-spacing: 0.0375rem;
    cursor: pointer;
}
nav ul li {
  text-transform:lowercase;
  font-size: 2em;
}
.navbar-nav > li > a {
  margin-right:2em;
  padding-top:.25em;
}
.navbar-nav > li > a:hover {
  border-top: .1em solid #DA6357;
}
.navbar-nav > li > a:active{
  border-top: .1em solid #DA6357;
}