@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&family=Spartan:wght@200&display=swap');
:root{
  --navColor: #f8f9fa;
  --coral: #da6357;
}

body{
  font-family: "Shippori Mincho B1"
}
h1 {
  font-family: "Spartan";
  color:black;
  font-size: 100% !important;
}
/********************** NAVBAR **************************/
.logo{
  width:9rem;
}
/********************** NAVLINKS **************************/
nav a.nav-link {
    font-weight: 300;
    letter-spacing: 0.0375rem;
    cursor: pointer;
}
nav ul li {
  text-transform:lowercase;
  font-size: 2em;
}
.navbar-nav > li > a {
  margin-right:2em;
  padding-top:.25em;
}
.navbar-nav > li > a:hover {
  border-top: .1em solid #DA6357;
}
.navbar-nav > li > a:active{
  border-top: .1em solid #DA6357;
}
/********************** HEADER **************************/
.header-wrapper {
  font-size: 300%;
  font-family: "Shippori Mincho B1"
}
.portrait img{
  width: 100%;
}
.main-info {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--coral);
  margin-top: 3rem;
}
.btn-main-offer {
  font-size: 2rem;
  font-family: "Shippori Mincho B1";
  color: var(--coral);
  border: .25rem solid var(--coral);
  border-radius: .5rem;
  padding: .5rem 1rem 1rem 1rem;
  margin-top: .575em;
  text-transform: lowercase;
}